.vscode/*
.idea/*
CODE_OF_CONDUCT.md
CONTRIBUTING.md
design.html
event.html
LICENSE
reference.html
sem_temp.html
techstack.html
travel_temp.html
readme_assets/*
assets/js/event.js
assets/js/references.js
assets/js/research.js
assets/js/sem_temp.js
assets/js/techstack.js
assets/js/travel_temp.js
assets/docs/*
assets/css/event.css
assets/css/references.css
assets/css/research.css
assets/css/sem_temp.css
assets/css/techstack.css
assets/css/travel_temp.css


